* {
    box-sizing: border-box;

}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    border-bottom: #333333 5px;
    border-left: #333333 5px;
    border-right: #333333 5px;
    font-family: 'Padauk', sans-serif;
}

header {
    width: 100%;
    height: 300px;
    background-color: rgb(111, 168, 220);
    background-image: url("../img/IndexBanner.jpg");
    background-size: 100% 100%;
}

#navbar {
    overflow: hidden;
background-color: lightpink;
}

#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

section {
    box-sizing: border-box;
    float: left;
    width: 90%;
    margin-left: 40px;
    margin-right: 40px;
    text-align: left;
}

article {
    display: inline-block;
    border: 2px;
    float: left;
    width: 24%;
    margin-left: 40px;
    margin-right: 90px;
}


.sectionImage {
    width: 400px;
    /*height: 150px;*/
    padding: 5px;
}

footer {
    width: 100%;
    height: 20%;
    background-color: rgb(153, 153, 153);
    color: white;
    clear: both;
    padding: 10px;
}

.footerImage {
    float: right;
    width: 150px;
    height: 125px;
}

footer a {
    color: snow;
}

h1 {
    color: black;
    float: left;
    margin-left: 15px;
    width: 70%;
    font-family: 'Roboto Condensed', sans-serif;
}

h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: black;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}

footer h3 {
    text-align: center;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

h4 {
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}


@media all and (min-width:550px) {
    section {
        width: 40%;
        float: left;
        text-align: center;
    }
    .sectionImage {
        width: 250px;
        /*height: 150px;*/
        padding: 5px;
    }
}
@media all and (min-width:920px) {
    section {
        width: 90%;
        float: left;
    }
    .sectionImage {
        width: 400px;
        /*height: 150px;*/
        padding: 5px;
    }
}