* {
    box-sizing: border-box;
}


body {
    width: 100%;
    height: 70%;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    width: 100%;
    height: 10%;
    background-color: rgb(111, 168, 220);
    text-align: center;
}

#navbar {
    width: 100%;
    height: 10%;
    background-image: url("../img/IndexBanner.jpg");
}

section#left {
    width: 30%;
    height: 65%;
    text-align: center;
    float: left;
    border: 5px;
}

section#middle {
    width: 30%;
    height: 65%;
    text-align: center;
    float: left;
    border: 5px;
}

section#right {
    width: 30%;
    height: 65%;
    text-align: center;
    float: left;
    border: 5px;
}

.sectionImage {

}

footer {
    width: 100%;
    height: 20%;
    background-color: rgb(153, 153, 153);
    color: white;
    clear: both;
}

h1 {
    color: black;
    float: left;
}

h4 {
    float: left;
   color: black;
}

