* {
    margin: 0;
    box-sizing: border-box;
}
html {
    overflow: hidden;
    padding: 10px;
}
body {
    margin: 0;
    font-size: 15px;
}

div.nav {
 background-color: lightpink;
    padding:20px;
}

a {
    color:white;
    margin: 5px;
    font-weight: bold;
    font-variant: full-width;
    padding: 10px;
    text-decoration: none;
}

div.g {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.g > div {
    max-width: 400px;
    display: flex;
    flex-direction: row;
    padding: 15px;
    text-align: justify;
    margin: 20px;
    box-shadow: 0 8px 19px rgba(0, 0, 0, .15);
    align-items: stretch;
}

div.g > div > img {
    max-width: 40%;
    width: 100%;
}

div.g > div > p, div.g > div > .description {
    margin: 0 10px;
    font-size: .9em;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
