* {
    margin: 0;
    box-sizing: border-box;
}


html {
    overflow: hidden;
}

body {
    margin: 0;
    font-size: 15px;
}

div.nav {
    background: #57a6f6;
    padding: 10px;
}

a {
    color: black;
    margin: 5px;
    font-weight: bold;
    font-variant: full-width;
    padding: 10px;
    text-decoration: none;
}

h2 {
    padding-top: 30px;
    padding-left: 60px;
}

div.map {
    margin: 20px;
    display: flex;

}

iframe {
    width: 100%;
    max-width: 50%;
    margin: 0;
}

p {
    margin: 15px 0;
}

form {
    max-width: 360px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    margin: 15px;
}

form div + div {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

textarea {
    vertical-align: top;
    height: 10em;

    resize: vertical;
}

button {
    border: none;
    padding: 20px;
    text-decoration: none;
    display: block;
    margin: 4px auto;
    cursor: pointer;
    font-size: 15px;
    border-radius: 6px;
    text-align: end;
    background-color: transparent;
}

button:hover {
    background-color: #ddd;
}

.i-b {
    display: inline-block;
    background-color: red;
}


a#ons {
    margin: 50px;
}

.page-header > h2 {
    font-size: 2.1em;
}

.page-map {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.page-map > * {
    min-width: 375px;
}

.page-map > p {
    margin: 15px;
}


.page-form > form {
    display: inline-block;
}
