*{
    margin: 0;
}
body{
    width: 100%;


}
div.nav {
    background: #57a6f6;
    padding: 10px;
}

a {
    color: black;
    margin: 5px;
    font-weight: bold;
    font-variant: full-width;
    padding: 10px;
    text-decoration: none;
}
div.g {
    display: grid;
    grid-template-columns:repeat(6,15%);
    grid-auto-rows: minmax( auto);
    grid-gap: 10px;
    justify-content: center;

}
img{
    width: 200px;
}
p{
    margin: 5px;
}